<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/scripts/cart.js" defer></script>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <div id="cart-products-list">
        <h1>Your Cart</h1>
        <% if(cartToDisplay) {%>
        <% cartToDisplay.forEach(element => {  %>
            <div class="product-card" data-id="<%= element.id %>">
                <div>
                    <h3><%= element.title %></h3>
                    <span class="total-price-product"><%= element.price * element.amount %>&#8362;</span>
                    <span class="price-product">(<%= element.price%>&#8362;)</span>
                </div>
                <div class="amount-div">
                    <input class="amount-input" type="number" value="<%= element.amount %>" min="1">
                    <button class="delete-btn">Delete</button>
                </div>
            </div>
        
        <% }); %>
        <% }%>
        <div class="buy-product-div">
            <span id="sum-total-prices">Total: $</span>
            <button class="buy-btn">Buy Products</button>
        </div>
    </div>
</body>
</html>